@import url('https://fonts.googleapis.com/css2?family=Russo+One&family=Tektur&display=swap');
html, body {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Russo One, sans-serif;
    
    background-image: url(images/cloudy-sky.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#main-container{
    display: flex;
    flex-direction: row;
    flex: 1;
    height: 100vh;
    width: 100%;

}

#left-container{
    display: flex;
    flex-direction: column;
    flex: 1;
}

#top-left-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#btn-container{
    display: flex;
    align-items: center;
    font-size: 30px;
    gap: 10px;
}

#time-container{
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
    font-family: Tektur;

}

#weather-description{
    font-size: 3px;
    align-self: flex-end;
    padding-top: 400px;
}

#right-container{
    border-left: 1px solid rgba(128, 128, 128, 0.25);
    border-radius: 25px;
    width: 300px;
    height: 100vh;
    backdrop-filter: blur(1px);
}

/*  Weather container */
#weather-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

#location-name {
    font-size: 24px;
    color: rgb(255, 255, 255);
}

#current-date {
    font-size: 18px;
    color: rgb(255, 255, 255);
}

#current-time {
    font-size: 18px;
    color: rgb(255, 255, 255);
}

#weather-icon {
    width: 100px;
}

#weather-description {
    font-size: 18px;
    color: rgb(255, 255, 255);
}

#current-temp {
    font-size: 36px;
    color: rgb(255, 255, 255);
}

/* Footer */
#footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
}

#github-logo {
    height: 20px;
    width: auto;
    padding: 10px;
    transition: transform .7s ease-in-out;
}

#github-logo:hover {
    transform: rotate(360deg);
}

/* Switch */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #b4b0b0;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #ff0000;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #ff0000;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
      border-radius :34px
  }
  .slider.round:before {
      border-radius :50%
  }