body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/*  Weather container */

#weather-container {
    text-align: center;
}

#location-name {
    font-size: 24px;
    color: rgb(0, 0, 0);
}

#current-date {
    font-size: 18px;
    color: rgb(0, 0, 0);
}

#current-time {
    font-size: 18px;
    color: rgb(0, 0, 0);
}

#weather-icon {
    width: 100px;
}

#weather-description {
    font-size: 18px;
    color: rgb(0, 0, 0);
}

#current-temp {
    font-size: 36px;
    color: rgb(0, 0, 0);
}


/* Footer */
#footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    font-size: 10px;
}

#github-logo {
    height: 20px;
    width: auto;
    padding: 10px;
    transition: transform .7s ease-in-out;
}

#github-logo:hover {
    transform: rotate(360deg);
}

/* Switch */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #b4b0b0;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #ff0000;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #ff0000;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
      border-radius :34px
  }
  .slider.round:before {
      border-radius :50%
  }
  